.main-sections-container{
    grid-template-rows: repeat(5, 1fr) 1000px;

}
.main-passworld-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 200px 300px;
    align-items: center;
    justify-content: center;
}
.main-title-container{
    grid-column: 2;
    grid-row: 2;
}

.main-phone-container{
    position: relative;
    grid-column: 1;
    grid-row:2 ;
    background-origin: t;
}
.main-fast-check-container{
    margin-block-start: -250px;
    display: grid;
    grid-template-columns: 400px 872px;
    align-items: flex-start;
}

.fast-check-icon-container{
    flex-direction: row;
    justify-content: space-evenly;
    width: 600px;
    grid-column: 2;
}
.fast-check-info{
    grid-column: 2;
}
.main-fast-check-container img{
    width: 876px;
    height: 496px;
}
.main-push-container{
    background-image: url('../assets/img/fondo.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    grid-template-columns: repeat(2, 1fr);
    
}
.main-push-container .description{
    grid-column: 2;
    grid-row: 2;
}
.main-phone2-container{
    grid-column: 1;
    grid-row: 2;
    position: relative;
}
.main-download-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.download-title-container {
    position: relative;
    width: 100%;
    grid-column: 2;
    grid-row: 1;
}
.download-title-container h2{
    font-size: 4.8rem;
    line-height: 5.8rem;
}
.download-title-container p {
    font-size: 2rem;
    line-height: 2.7rem;
}
.download-container {
    width: 800px;
    grid-column: 2;
    grid-row:1;
}
.main-iphone3-container{
    position: relative;
    grid-column: 1;
}
.main-login-container{
    width: 100%;
}
.main-login-container .longin-container{
    flex-direction: column-reverse;   
}
.login-title-container{
    width: 400px;
    height: auto;
}
.login-title-container h2{
    font-size: 4.8rem;
    line-height: 5.8rem;
    letter-spacing: -0.00em;
}
.login-title-container  p {
    font-size: 1.8rem;
    line-height: 2.7rem;
}
.main-cards-container h2{
    font-size: 4.8rem;
    line-height: 5.8rem;
}
.cards-container{
   flex-direction: row;
   justify-content: space-evenly;
   align-items: center;
   
}
.hide-card{
    display: none;
}
.footer-container{
    height: 700px;
}
.card-registry-container{
    width: 800px;
    height: 300px;
    left: 18.56%;
}
.registry-info-container{
    height: 90%;
}
.registry-info-container h3{
    font-size: 4.8rem;
    line-height: 5.8rem;
}
.registry-info-container p{
    font-size: 1.8rem;
    line-height: 2.7rem;
}
.info-list-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: auto;
}
.list-container{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;

}
.list-right{
    padding-block-start: 0px;
    align-self: flex-start;
}