:root{
    /* colores */
    --black: #000000; 
    --primary: #FED941;
    --grey: #808080;
    --white: #FFFFFF;
    --fondo: #E8E8E6 ; 
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family: 'Inter' , sans-serif;
}


header{
    background-color: var(--black);
}
.header-container{
    display: flex; 
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-width: 320px;
     max-width: 900px; 
    height: 70px;
    margin: 0 auto;
}
.header-container h5{
    margin-inline-start: 20px;
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 2.8rem;
    color: var(--white);
} 
.menu-container__icon{
    position: relative;
    z-index: 10;
}  
.menu-container__icon img{
    margin-inline-end: 20px;
    width: 24px;
    height: 24px;
    cursor: pointer;
}
.menu-container__list{
    position: fixed;
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7 );
    box-shadow: 2px 0px 5px 2px rgb(66, 66, 66);
    width: 120px;
    height: 70vh;
    transition-property: all;
    transition-duration: 1s;
    transition-delay: ease; 
    overflow-x: none;    
    border-radius: 4px;
}
 .active {
    transform: translateX(150px);  
}
.opacity{
    background-color: rgba(0, 0, 0, 0.5);
    transition: all .5s ease;
}
.menu-container__list ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    padding-block-start: 20px;
    list-style: none;
}
.menu-container__list ul li a {
    padding: 8px 10px ;
    font-family: 'Inter' , sans-serif;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.8rem;
    color: var(--white);
    text-decoration: none;
}
.menu-container__list ul li a:hover{
    background-color: var(--white);
    color: var(--black);
   
}
/* trabajando el main  */

.main-sections-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr) 2200px;
    row-gap: 20px;
}
.main-passworld-container{
    grid-row: 1 / 2;
    background-image: url("../assets/img/background.png"); 
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}
.main-title-container{
    width: 320px;
    max-width: 685px;
    height: 353px;
    max-height: 397px;
    margin: 0 auto;
    padding-block-start: 25px;

}
.title-container-description h1{
    font-size: 2.8rem;
    font-weight: bold;
    line-height: 3.4rem;
    letter-spacing: 0.01em;
    color: var(--white);
}
.title-container-description p {
    margin-block-start: 24px;
    font-size: 1.6rem;
    font-weight: normal;
    line-height: 2.2rem;
    color: var(--grey);
}
.title-cotainer__buttom , .registry-buttom{
    display: inline-block;
    text-align: center;
    padding-block-start: 8px;
    margin-block-start: 24px;
    width: 260px;
    height: 52px;
    border: 2px solid var(--white);
    border-radius: 8px;
    font-size: 1.8rem;
    line-height: 2.8rem;
    font-weight: bold;
    color: var(--white);
    text-decoration: none;
    background-color: var(--black);
}
.title-container__info{
    margin-block-start: 24px;
    font-size: 1.6rem;
    font-weight: normal;
    line-height: 2.7rem;
    text-decoration: underline;
    color: var(--grey);
}
.main-phone-container ,.main-phone2-container ,.main-iphone3-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    margin-inline-start: calc(50% - 135px);
     margin-block-start: 57px;
    grid-column: 1;
    grid-template-rows: 2;
}
/* estilos segunda seccion del main */

.main-fast-check-container{
    grid-column: 1;
    grid-row: 2;
     display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; 
     margin-block-start: 50px; 
}
.fast-check-icon-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    height: 313px;
}
.fast-check-icon-container .icons{
    display: inline-block;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 125px;
    height: 70px;
    padding: 24px;
}
.fast-check-icon-container .icon__cnn{
    background-image: url('../assets/img/cnn.svg');
}
.fast-check-icon-container .icon__reuters{
    background-image: url('../assets/img/reuters.svg');
}
.fast-check-icon-container .icon__forbes{
    background-image: url('../assets/img/forbes.svg');
}
.fast-check-icon-container .icon__logue{
    background-image: url('../assets/img/logue.svg');
}
.main-fast-check-container img {
    margin-block-start: 64px;
    width: 360px;
    height: 203px;
}
.main-check-description , .download-title-container , .login-title-container{
    width: 320px;
    height: 194px;
    margin: 0 auto;
    margin-block-start: 64px;
  
}
.main-check-description h2 , .download-title-container h2 , .login-title-container h2{
    font-size: 2.5rem; 
    font-weight: bold;
    line-height: 3rem;
    letter-spacing: 0.01em;
}
.main-check-description p  , .download-title-container p , .login-title-container p{ 
    padding-block-start: 20px;
    font-size: 1.6rem;
    font-weight: normal;
    line-height: 2.2rem;
    color: var(--grey);
}
/* estilos de la tercera seccion */

.main-push-container{
     display: grid; 
     grid-template-rows: 200px 200px; 
     grid-row:  3;
    position: relative;
    background-color:var(--fondo);
}

.main-push-container .description{
    grid-row: 1;
    margin-block-start: 20px;
}
.main-push-container .main-phone2-container {
    grid-row: 2;
}
/* la cuarte seccion del main */
.main-download-container {
    grid-row: 4;
    background: var(--black);
}
.download-title-container h2{
    color: var(--white);
}
.download-title-container p {
    color: var(--white);
}
.download-container{
    margin-block-start: 40px;
    width: 340px;
    height: 40px;
    border-radius:100px;
    background: var(--white);
    
}
.download-container div{
    width: 205px;
    height: 40px;
    border-radius: 100px;
    background-color: #2FB464;
}
.main-login-container{
    grid-row: 5;
    background: var(--white);
}
.login-image-container img {
    width: 320px;
    height: 320px;
}
.main-cards-container{
    background: var(--fondo);
}
.main-cards-container{
    grid-row: 6;
}
.main-cards-container h2 {
    padding-block-start: 80px;
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 3rem;
    text-align: center;
    letter-spacing: 0.01em;
}
.cards-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block-start: 100px;

}
.card-container{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 320px;
    height: auto;
    margin-block-start: 80px;
    border-radius: 8px;
    background: var(--white);
    text-align: center;
}
.card-container img {
    position: absolute;
    left: 38%;
    top: -14%;
}
.card-title-container{
    padding-block-start: 100px;
    width: 310px;
    height: auto;
}
.card-title {
    font-size: 1.8rem;
    font-weight: normal;
    line-height: 2.7rem;
    color: var(--black);
}
.social-media-container {
    padding-block-start: 30px;
    width: 123px;
    height: auto;
    margin: 0 auto;
}.social-media-container .name , .twitter{
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.7rem;
    color: var(--black);
}
.twitter{
    padding-block-start: 5px;
    color: var(--grey);
}
.footer-container{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 1000px;
    background: var(--black);
}
.card-registry-container{
    position: absolute;
    left: 5.56%;
    top: -13%;
    width: 320px;
    height: 188px;
    background: #FFFFFF;
    box-shadow: 0px 4px 44px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.registry-info-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 180px;
}
.registry-info-container h3 {
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 3rem;
}
.card-registry-container p {
    padding-block-start: 12px;
    font-size: 1.6rem;
    font-weight: normal;
    line-height: 2.2rem;
    color: var(--grey);
}
.info-list-container {
    padding-block-start: 200px;
    padding-inline-start: 25px;
}
.footer-icons-container h4{
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.8rem;
    color: var(--white)
}
.footer-icons-container p {
    font-size: 1.2rem;
    font-weight: normal;
    line-height: 2.2rem;
    color: var(--grey);
}
.footer-icons{
    padding-block-start: 25px;

}
.footer-icons span{
    display: inline-block;
    margin-inline-start: 5px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 36px;
    height: 36px;
}
.footer-icons .twitter{
    background-image: url('../assets/icon/5e349c95d8d0c236600d4ef1_TwitterIcon\ 1.svg');
}
.footer-icons .instagram{
    background-image: url('../assets/icon/5e349c95d8d0c2554e0d4ed3_InstagramIcon\ 1.svg');
}
.footer-icons .linkedin{
    background-image: url('../assets/icon/5e349c95d8d0c2c5a90d4ee0_LinkedInIcon\ 1.svg');
}
.info-list-container .list-container{
    padding-block-start: 65px;
}
.list-container .list-left p , .list-right p{
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.8rem;
    color: var(--white);
}
.list-container .list-left a  , .list-right a{
    font-size: 1.8rem;
    font-weight: normal;
    line-height: 2.7rem;
    text-decoration: none;
    color: var(--grey);
}
.list-right{
    padding-block-start: 60px;
}
