:root{
    --black: #000000; 
    --primary: #FED941;
    --grey: #808080;
    --white: #FFFFFF;

    /* topografi */

}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family: 'Inter' , sans-serif;
}


header{
    background-color: var(--black);
}
.header-container{
    display: flex; 
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-width: 320px;
    max-width: 900px;
    height: 70px;
    margin: 0 auto;
}
.header-container h5{
    margin-inline-start: 20px;
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 2.8rem;
    color: var(--white);
} 
.menu-container__icon{
    position: relative;
    z-index: 10;
}  
.menu-container__icon img{
    margin-inline-end: 20px;
    width: 24px;
    height: 24px;
    cursor: pointer;
}
.menu-container__list{
    position: fixed;
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7 );
    box-shadow: 2px 0px 5px 2px rgb(66, 66, 66);
    width: 120px;
    height: 70vh;
    transition-property: all;
    transition-duration: 1s;
    transition-delay: ease; 
    overflow-x: none;    
    border-radius: 4px;
}
 .active {
    transform: translateX(150px);  
}
.opacity{
    background-color: rgba(0, 0, 0, 0.5);
    transition: all .5s ease;
}
.menu-container__list ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    padding-block-start: 20px;
    list-style: none;
}
.menu-container__list ul li a {
    padding: 8px 10px ;
    font-family: 'Inter' , sans-serif;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.8rem;
    color: var(--white);
    text-decoration: none;
}
.menu-container__list ul li a:hover{
    background-color: var(--white);
    color: var(--black);
   
}
.main-principal-container{
    width: 100%;
    min-width: 320px;
    max-width: 900px;
    margin: 0 auto;
    height: 700px;
    background-image: url("../assets/img/background.png"); 
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.main-title-container{
    width: 320px;
    max-width: 685px;
    height: 353px;
    max-height: 397px;
    margin: 0 auto;
    padding-block-start: 25px;

}
.title-container-description h1{
    font-size: 2.8rem;
    font-weight: bold;
    line-height: 3.4rem;
    letter-spacing: 0.01em;
    color: var(--white);
}
.title-container-description p {
    margin-block-start: 24px;
    font-size: 1.6rem;
    font-weight: normal;
    line-height: 2.2rem;
    color: var(--grey);
}
.title-cotainer__buttom{
    display: inline-block;
    text-align: center;
    padding-block-start: 8px;
    margin-block-start: 24px;
    width: 260px;
    height: 52px;
    border: 2px solid var(--white);
    border-radius: 8px;
    font-size: 1.8rem;
    line-height: 2.8rem;
    font-weight: bold;
    color: var(--white);
    text-decoration: none;
}